body {
  background-color: #fff;
  font-family: Roboto, sans-serif;
  color: #000;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin: 10px 0px;
  color: #8a6d2f;
  font-size: 44px;
  line-height: 54px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0px;
  text-shadow: none;
}

h2 {
  margin: 0px 0px 27px;
  font-family: Lato, sans-serif;
  color: #8a6d2f;
  font-size: 38px;
  line-height: 36px;
  font-weight: 300;
  text-shadow: none;
}

h3 {
  margin: 5px 0px;
  font-size: 22px;
  line-height: 30px;
  font-weight: 400;
  text-shadow: none;
}

h4 {
  margin: 10px 0px;
  font-family: Lato, sans-serif;
  color: #b59143;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

h5 {
  margin: 10px 0px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

h6 {
  margin: 10px 0px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}

p {
  margin-top: 0px;
  margin-bottom: 5px;
  padding-right: 60px;
  padding-left: 60px;
  font-family: Lato, sans-serif;
  color: #77746d;
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0px;
  text-shadow: none;
}

a {
  text-decoration: none;
}

.container {
  padding-right: 70px;
  padding-left: 70px;
}

.share-btn {
  display: inline-block;
  width: 61px;
  margin-right: 14px;
  margin-left: 14px;
}

.share-wrapper {
  margin-top: 32px;
}

.social-btn {
  margin-left: 17px;
  padding-right: 2px;
  padding-left: 2px;
  opacity: 0.15;
  -webkit-transition: opacity 250ms ease;
  transition: opacity 250ms ease;
}

.social-btn:hover {
  opacity: 0.7;
}

.social-btn.footer {
  margin-right: 9px;
  margin-left: 9px;
}

.navbar {
  padding-top: 23px;
  padding-bottom: 23px;
  background-color: #fff;
}

.right-nav {
  padding-top: 2px;
  text-align: right;
}

.brand {
  display: inline-block;
  color: #2e2e2e;
  font-size: 32px;
  line-height: 22px;
  font-weight: 500;
}

.logo {
  margin-top: 15px;
  margin-right: 13px;
  font-family: Lato, sans-serif;
  color: #4d4a44;
  font-size: 30px;
  text-shadow: 2px 2px 3px rgba(49, 45, 45, .33), 9px 0 3px hsla(0, 0%, 100%, .19);
}

.logo.footer {
  display: block;
  margin: 0px auto 21px;
}

.section {
  padding-top: 81px;
  padding-bottom: 81px;
  text-align: center;
}

.section.hero {
  padding-top: 92px;
  padding-bottom: 92px;
  background-color: #fac960;
  text-align: center;
}

.section.hero.success {
  background-color: #18c7aa;
}

.section.grey {
  background-color: #f2f2f2;
}

.grey-heading {
  color: rgba(0, 0, 0, .56);
  text-shadow: none;
}

.herosection {
  height: 500px;
  margin-top: -61px;
  background-image: -webkit-linear-gradient(270deg, hsla(0, 3%, 6%, .02), hsla(0, 3%, 6%, .02)), url('../images/AdobeStock_67731417-compresed.png');
  background-image: linear-gradient(180deg, hsla(0, 3%, 6%, .02), hsla(0, 3%, 6%, .02)), url('../images/AdobeStock_67731417-compresed.png');
  background-position: 0px 0px, 50% 85%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, fixed;
}

.heading {
  overflow: hidden;
  margin-top: 120px;
  padding-top: 69px;
  font-family: Lato, sans-serif;
  color: #4d4a44;
  font-size: 65px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 15px;
  text-shadow: -4px 3px 6px hsla(44, 11%, 73%, .59), 0 -2px 5px rgba(59, 53, 53, .69);
}

.headertagline {
  margin-top: 21px;
  padding-top: 117px;
  font-family: Lato, sans-serif;
  color: #4d4a44;
  font-size: 25px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: none;
  text-shadow: 1px 0 8px rgba(42, 38, 38, .63);
}

.aboutsection {
  height: 100%;
  background-image: -webkit-linear-gradient(270deg, #fff, transparent 0%, rgba(0, 0, 0, .02));
  background-image: linear-gradient(180deg, #fff, transparent 0%, rgba(0, 0, 0, .02));
}

.heading-2 {
  padding-top: 35px;
  padding-bottom: 15px;
  border-bottom: 1px solid #b59143;
  font-family: 'Open Sans', sans-serif;
  color: #b59143;
  font-size: 40px;
  text-align: center;
}

.heading-2.pageheader {
  padding-bottom: 34px;
}

.text-block {
  padding-top: 18px;
  font-family: Lato, sans-serif;
  color: #77746d;
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
  text-align: center;
}

.heading-3 {
  margin-top: 22px;
  padding-bottom: 24px;
  border-bottom: 1px solid #b59143;
}

.text-block-2 {
  padding-top: 0px;
  padding-bottom: 1px;
  font-family: Lato, sans-serif;
  color: #77746d;
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
}

.container-2 {
  padding-top: 18px;
}

.link {
  font-family: Lato, sans-serif;
  color: #b59143;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
}

.div-block {
  padding-bottom: 10px;
}

.heading-4 {
  margin-top: 27px;
  font-family: Lato, sans-serif;
  text-align: center;
}

.icons {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-right: 45px;
  padding-left: 45px;
}

.row-2 {
  padding-top: 23px;
}

.button-text {
  color: #b59143;
}

.button-text:hover {
  font-weight: 300;
}

.button-text:active {
  color: #cfcabf;
  font-weight: 300;
}

.section-2 {
  margin-top: 73px;
  margin-bottom: 52px;
  padding-top: 13px;
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .03) 23%, #fff 42%);
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .03) 23%, #fff 42%);
}

.heading-5 {
  margin-top: 15px;
  font-family: Lato, sans-serif;
  text-align: center;
}

.contactusimage {
  margin-top: 16px;
}

.field-label {
  font-family: Lato, sans-serif;
  color: #b59143;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
}

.mbutton {
  display: block;
  overflow: hidden;
  width: 200px;
  margin-top: 38px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
  float: none;
  clear: left;
  border: 1px solid #b59143;
  background-color: transparent;
  font-family: Lato, sans-serif;
  color: #b59143;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
}

.mbutton.contactusbtn {
  margin-top: 10px;
  float: left;
}

.mbutton.footerbtn {
  width: 150px;
  margin-top: 21px;
  margin-bottom: 22px;
}

.section-3 {
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .05) 45%, #fff 63%);
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .05) 45%, #fff 63%);
}

.heading-6 {
  margin-top: 33px;
  font-family: Lato, sans-serif;
  text-align: center;
}

.section-4 {
  height: 400px;
  background-image: -webkit-linear-gradient(270deg, transparent, transparent), url('../images/AdobeStock_67731417-compresed.png');
  background-image: linear-gradient(180deg, transparent, transparent), url('../images/AdobeStock_67731417-compresed.png');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, repeat-x;
}

.text-block-3 {
  display: block;
  width: 800px;
  margin-right: auto;
  margin-left: auto;
  border-left-color: #fff;
  font-family: Lato, sans-serif;
  color: #646060;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
}

.section-5 {
  background-color: #b59143;
}

.text-block-4 {
  padding-top: 27px;
  font-family: Lato, sans-serif;
  color: #fff;
}

.link-2 {
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}

.facebook {
  position: absolute;
  right: 10px;
  padding-top: 27px;
  padding-left: 0px;
}

.twitter {
  display: inline;
  padding-top: 27px;
  float: left;
}

.column {
  position: relative;
  display: block;
  padding-bottom: 12px;
}

.nav-link {
  font-family: Lato, sans-serif;
  color: #4d4a44;
  font-size: 18px;
}

.navbar-2 {
  background-color: transparent;
}

.footersection {
  margin-top: 17px;
  border-top: 1px solid #b59143;
}

.text-block-5 {
  padding-top: 14px;
  padding-bottom: 5px;
  font-family: Lato, sans-serif;
  color: #b59143;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
}

.text-block-6 {
  font-family: Lato, sans-serif;
  color: #242321;
  font-size: 17px;
  line-height: 28px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 5px;
}

.text-block-7 {
  padding-top: 13px;
  padding-bottom: 22px;
  border-bottom: 1px solid #b59143;
  font-family: Lato, sans-serif;
  color: #b59143;
  font-size: 20px;
  text-align: center;
}

.image-2 {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.column-2 {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.link-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.column-3 {
  padding-top: 16px;
}

.heading-7 {
  padding-top: 22px;
  font-family: Lato, sans-serif;
  color: #b59143;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.heading-8 {
  font-family: Lato, sans-serif;
  text-align: center;
}

.text-field {
  display: block;
  width: 400px;
  margin-right: auto;
  margin-left: auto;
  font-family: Lato, sans-serif;
}

.image-3 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 19px;
}

.body {
  padding-bottom: 9px;
}

.heading-9 {
  font-family: Lato, sans-serif;
}

.text-block-8 {
  font-family: Lato, sans-serif;
}

@media (max-width: 991px) {
  h1 {
    text-shadow: none;
  }
  p {
    text-shadow: none;
  }
  .social-btn {
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
  }
  .social-btn:hover {
    opacity: 0.8;
  }
  .mbutton.footerbtn {
    width: 150px;
    margin-top: 36px;
    margin-left: -26px;
    padding-left: 13px;
  }
  .heading-7 {
    padding-right: 25px;
    padding-left: 25px;
    text-align: center;
  }
}

@media (max-width: 767px) {
  h1 {
    text-shadow: none;
  }
  p {
    text-shadow: none;
  }
  .container {
    padding-right: 33px;
    padding-left: 33px;
  }
  .section.hero {
    padding-top: 26px;
    padding-bottom: 26px;
  }
  .text-block {
    padding: 19px 10px 10px;
  }
  .image {
    display: inline-block;
    max-width: 100%;
    margin-top: 67px;
    padding-top: 1px;
  }
  .icons {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .heading-5 {
    margin-top: 51px;
    margin-bottom: 7px;
  }
  .contactusimage {
    margin-bottom: 26px;
  }
  .mbutton.footerbtn {
    display: block;
    margin-top: 6px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
  }
  .text-block-3 {
    position: relative;
    display: block;
    width: 400px;
    margin-right: auto;
    padding-right: 20px;
  }
  .heading-7 {
    padding-top: 23px;
    padding-right: 0px;
  }
}

@media (max-width: 479px) {
  h1 {
    font-size: 36px;
    line-height: 46px;
    text-shadow: none;
  }
  h2 {
    font-size: 30px;
    line-height: 31px;
    text-shadow: none;
  }
  p {
    padding-right: 18px;
    padding-left: 18px;
    text-shadow: none;
  }
  .container {
    padding-right: 10px;
    padding-left: 10px;
  }
  .section {
    padding-top: 47px;
    padding-bottom: 47px;
  }
  .grey-heading {
    text-shadow: none;
  }
  .heading {
    margin-bottom: 24px;
    padding-top: 36px;
    line-height: 75px;
  }
  .headertagline {
    padding-right: 8px;
    padding-left: 8px;
    line-height: 35px;
  }
  .aboutsection {
    height: 100%;
  }
  .image {
    margin-top: 25px;
  }
  .icons {
    padding-top: 24px;
  }
  .text-block-3 {
    width: 100%;
    margin-right: 5%;
    margin-left: 5%;
    padding-right: 10%;
    padding-left: 5%;
  }
  .text-block-4 {
    line-height: 22px;
    text-align: center;
  }
  .facebook {
    left: 70%;
    right: 3%;
    padding-left: 0px;
  }
  .heading-7 {
    padding-right: 0px;
  }
}

